<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Event schedule:</strong>
  <%= @event.event_schedule %>
</p>

<p>
  <strong>Fee:</strong>
  <% if current_user.present? && current_user.gender == "F" %>
    <%= @event.fee * 0.95 %>
  <% else %>
    <%= @event.fee %>
  <% end %>
</p>

<% if current_user.present? && current_user.is_owner?(@event) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>

Attendees:
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <% @event.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', events_path %>

<% if @event.is_user_attending?(current_user) %>
  <td><%= link_to 'Un-Attend', unattend_event_event_path(@event) %></td>
<% else %>
  <td><%= link_to 'Attend', attend_event_event_path(@event) %></td>
<% end %>
